.page-header {
    width: fit-content;
    padding: 20px 15px 0px 15px;
    background-color: #fff;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  
    h3.page-title {
      margin-bottom: 0;
    }

    .header-border-bottom{
      background-color: #4CAF50;
      width: 80%;
      padding: 2px;
      border-radius: 3px;
    }
}