// #userFormModal {
//     ng-multiselect-dropdown .dropdown-list .item1 .multiselect-item-checkbox {
//         display: none
//     }
// }

.action.btn{
    padding: 0 !important;
    margin: 4px 8px;
}

.action.btn:focus{
    box-shadow: none !important;
}