
  <!-- Body -->
  <div class="content">
    <h4>Confirm appoinment/Xác nhận lịch khám: </h4>
    <p>Thời gian khám: {{data.thoiGianKham}} - Chuyên khoa: {{data.chuyenKhoa.tenChuyenKhoa}} - Bác sĩ: {{data.bacSi.fullname}}</p>
    <p>Lịch khám của bạn đã được xác nhận. Cảm ơn bạn
    đã lựa chọn Phòng khám Medical là người bạn đồng hành chăm sóc sức khỏe của bạn
    /Your appointment has been confirmed. Thank you for choosing Medical Clinic as your health care partner.
    </p>
  </div>
