
  <!-- Body -->
  <div class="content">
    <h4>Create your account/Tạo tài khoản của bạn</h4>
    <a href="{{webUrl}}/auth/register/{{token}}">Click to create your account/Nhấp để Đăng kỳ</a>
  </div>