
  <!-- Body -->
  <div class="content">
    <h4>Reset your password/Yêu cầu thay đổi mật khẩu: </h4>
    <a href="{{webUrl}}/auth/reset-password/{{token}}">Click to view detail/Nhấp để Xem chi
      tiết</a>
  </div>
