<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marahub Dev Mail</title>
  <style type="text/css">
    body {
      font-family: Lucida, Tahoma, Arial, Verdana, Helvetica, Georgia, Trebuchet, Times;
      font-size: small;
    }

    .footer {
      margin-top: 10px;
    }
  </style>
</head>

<body>

  <!-- Body -->
  <div class="content">
    {{{body}}}
  </div>

  <!-- Footer -->
  <div class="footer">
    <p><i>This is automatic email. Please do not reply! For more information, please contact IT Department.</i></p>
    <p><i>Đây là email tự động. Vui lòng không phản hồi! Để biết thêm thông tin, vui lòng liên hệ Bộ phận IT.</i></p>
    <p>{{appName}}</p>
  </div>
</body>

</html>
