<form novalidate [formGroup]="donThuocFormModal">
    <div class="modal-header">
        <div class="modal-title">
            <h4 translate>Lập đơn thuốc</h4>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-group row">
            <label class="required form-label" translate>Chẩn đoán</label>
            <div class="">
                <input type="text" name="chanDoan" class="form-control" formControlName="chanDoan">
                <control-error-message [control]="donThuocFormModal.controls['chanDoan']" *ngIf="donThuocFormModal.controls['chanDoan'].touched"></control-error-message>
            </div>
        </div>
        <ng-container formArrayName="chiTiet">
            <div *ngFor="let thuoc of chiTiet.controls; let i=index" [formGroupName]="i" 
            class="form-group flex-row d-flex align-items-center mb-2">
                <div class="me-3">
                    <p class="h6 m-0">{{i+1}}</p>
                </div>
                <div class="flex-grow-1 d-flex flex-column">
                    <div class="d-flex flex-md-row flex-column">
                        <div class="form-group flex-grow-1 me-3 mb-1">
                            <ng-select formControlName="thuocId" name="thuocId" bindLabel="hienThi" [items]="thuocList" bindValue="id"
                                (focus)="clickThuoc($event)" [clearable]="false"
                                (change)="changeThuoc($event, i)" style="min-width: 200px;" class="required"
                                [multiple]="false" [closeOnSelect]="true" [searchable]="true" [hideSelected]="true">
                            </ng-select>
                            <control-error-message [control]="$any(chiTiet.controls[i].get('thuocId'))" *ngIf="chiTiet.controls[i].get('thuocId')?.touched"></control-error-message>
                        </div>
                        <div class="form-group d-flex flex-row mb-1 mt-1 mt-md-0">
                            <label class="form-label me-2" translate>Số lượng:</label>
                            <div class="">
                                <input type="text" formControlName="soLuong" class="form-control">
                                <control-error-message [control]="$any(chiTiet.controls[i].get('soLuong'))" *ngIf="chiTiet.controls[i].get('soLuong')?.touched"></control-error-message>
                            </div>
                            <label class="form-label me-2" translate [innerHTML]="donVi[i]"></label>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-row mb-1">
                        <label class="form-label me-2" translate>Cách dùng:</label>
                        <div class="flex-grow-1">
                            <input type="text" formControlName="cachDung" class="form-control">
                            <control-error-message [control]="$any(chiTiet.controls[i].get('cachDung'))" *ngIf="chiTiet.controls[i].get('cachDung')?.touched"></control-error-message>
                        </div>
                    </div>
                </div>
                <div class="ms-3">
                    <button class="action btn link-secondary" (click)="removeChiTiet(i)">
                        <fa-icon [icon]="faXmark" size="lg" class="icon-btn"></fa-icon>
                    </button> 
                </div>
            </div>
        </ng-container>
        <button class="action btn link-secondary mb-2" (click)="addNewChiTiet()">
            <fa-icon [icon]="faCirclePlus" size="lg" class="icon-btn"></fa-icon>
        </button>
        <div class="form-group row">
            <label class="form-label mb-1" translate>Lời dặn</label>
            <div class="">
                <textarea name="loiDan" class="form-control" formControlName="loiDan" rows="5"></textarea>
                <control-error-message [control]="donThuocFormModal.controls['loiDan']" *ngIf="donThuocFormModal.controls['loiDan'].touched"></control-error-message>
            </div>
        </div>     
    </div>

    <div class="modal-footer">
        <button class="btn btn btn-secondary" type="submit" (click)="cancel()" translate>Đóng</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()" translate>
            <fa-icon [icon]="faSave"></fa-icon>
            Lưu
        </button>
        <button class="btn btn-success" type="submit" (click)="onSubmit(true)" translate>
            <fa-icon [icon]="faPrint"></fa-icon>
            Lưu và In
        </button>
    </div>
</form>