@import "../../../style/variables.scss";

.home{
    min-height: calc(100vh - $header-height);
    min-width: 100vh;
    margin: 0;
}

.slogan{
    margin-left: 30px;
    padding-left: 10px;
    margin-top: 130px;
}

.description{
    margin-top: 20px;
    font-size: 20px;
}

.login{
    font-weight: 700;
    font-size: 18px;
    color: #357A38;
    text-decoration: none;
    margin-right: 22px;
}

.btn{
    padding: 8px 31px;
    background: #03ACF2;
    color: white;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    &:hover, &:focus{
        background: #039AD9;
        box-shadow: none;
    }
}

.img-container{
    height: calc(100vh + $header-height);
    position: absolute;
    top: -64px;
    right: 0px !important;
    overflow: hidden;
}

@media (max-width: 991.98px){
    .slogan{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-right: 10px;
    }
}