<div class="home d-flex">
    <div class="slogan col-lg-5">
        <h1 style="color: #302F2F;">Chăm sóc tận tình cho bạn và gia đình</h1>
        <p class="text-muted description">
            Hãy đến với phòng khám của chúng tôi để được trải nghiệm một dịch vụ y tế chuyên nghiệp, tận tình và chu đáo.
        </p>
        <div class="d-flex justify-content-lg-start justify-content-center align-items-center" style="margin-top: 32px;">
            <a class="login" href="/auth/login" *ngIf="!currentUser">ĐĂNG NHẬP</a>
            <a class="btn" href="/app/dang-ky-kham">ĐẶT HẸN NGAY</a>
        </div>
    </div>
    <div class="img-container d-none d-lg-block">
        <img class="image" src="../../../assets/Illustration.png"/>
    </div>
</div>

