<div class="container text-center">
    <img src="../../../../assets/4335379.png" height="341" width="341" style="margin-top: 72px; margin-bottom: 72px;">
    <p translate style="font-size: 32px; font-weight:bold; color: #9B51E0; margin-bottom: 72px;">Bạn không có quyền truy cập nội dung này</p>
    <button class="btn" type="submit" (click)="goBack()" style="margin-bottom: 20px; background-color: #9B51E0; color:white; width: 352px; border-radius: 4px;">Quay về trang chủ</button>
    <div>Nếu chưa đăng nhập vui lòng nhấn nút dưới đây để đăng nhập</div>
    <button class="btn btn-primary" routerLink="/auth/login">Đăng nhập</button>
</div>
