<div class="container">
    <div class="inv-title">
        <h1>PHIẾU KHÁM BỆNH</h1>
    </div>
    <p class="sub-title">Mã số: {{phieuDichVu.maPhieuDichVu}}</p>
    <div class="inv-header">
        <table class="info">
            <tbody>
                <tr>
                    <td class="info-title">Mã số bệnh nhân</td>
                    <td class="colon">:</td>
                    <td><strong>{{user.maBenhNhan}}</strong></td>
                </tr>
                <tr>
                    <td class="info-title">Họ tên</td>
                    <td class="colon">:</td>
                    <td>{{user.tenBenhNhan}}</td>
                </tr>
                <tr>
                    <td class="info-title">Tuổi - Giới tính</td>
                    <td class="colon">:</td>
                    <td>{{user.tuoi}} - {{user.gioiTinh}}</td>
                </tr>
                <tr>
                    <td class="info-title">Điện thoại</td>
                    <td class="colon">:</td>
                    <td>{{user.soDienThoai}}</td>
                </tr>
                <tr>
                    <td class="info-title">Địa chỉ</td>
                    <td class="colon">:</td>
                    <td>{{user.diaChi}}</td>
                </tr>
                <tr>
                    <td class="info-title">Lý do</td>
                    <td class="colon">:</td>
                    <td>{{lichKham.lyDo}}</td>
                </tr>
                <tr>
                    <td class="info-title">Bác sĩ</td>
                    <td class="colon">:</td>
                    <td>{{lichKham.tenBacSi}} - {{lichKham.chuyenKhoa}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inv-body">
        <table>
            <thead>
                <th>STT</th>
                <th>Tên dịch vụ</th>
                <th>Đơn vị tính</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
            </thead>
            <tbody *ngFor="let dichVu of chiTietPhieuDichVu; let i=index">
                <tr>
                    <td style="width: 30px;">{{i+1}}</td>
                    <td class="medicine-name">
                        <h5 style="font-size: 16px;">{{dichVu.tenDichVu}}</h5>
                    </td>
                    <td style="width: 150px;">{{dichVu.donVi}}</td>
                    <td style="width: 110px;">{{dichVu.soLuong}}</td>
                    <td style="width: 110px;">{{dichVu.dichVu?.donGia | number:'1.0':'en-US'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inv-footer">
        <div class="d-flex flex-column me-5">
        </div>
        <div class="d-flex flex-column ms-5">
            <p class="d-flex align-self-center" style="font-size: 14px;">Ngày {{phieuDichVu.createdAt | date: 'dd/MM/YYYY'}}</p>
            <p class="d-flex align-self-center" style="font-size: 14px; margin-bottom: 100px;"><strong>Người lập</strong></p>
            <p class="d-flex align-self-center" style="font-size: 14px; margin-bottom: 50px;"><strong>{{phieuDichVu.tenUser}}</strong></p>
        </div>
    </div>
</div>