<div class="home">
    <div class="container m-0 mw-100">
        <div class="row ml-0 mt-3">
            <div class="col-sm-8 col-12 pl-0 pl-sm-3">
              <div class="card-group">
                <div class="card col-sm-4 col-12">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div>
                                <span class="circle cart">
                                    <span>
                                        <fa-icon [icon]="faUserGroup" class="icon-btn" style="color: #445af2" size="lg"></fa-icon>
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex flex-column ml-3 mt-1">
                                <h4 class="card-subtitle p-0">145</h4>
                                <div class="d-flex flex-row increase">
                                    <p class="card-text text-muted">Bệnh nhân</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-4 col-12">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row">
                        <h5 class="card-title">Revenue</h5>
                        <p class="text-muted">
                          <small>&nbsp;| This Month</small>
                        </p>
                      </div>
                      <a class="text-decoration-none" href="#"
                        ><i class="bi bi-three-dots text-secondary"></i
                      ></a>
                    </div>
                    <div class="d-flex flex-row">
                      <span class="circle dollar"
                        ><span
                          ><i
                            class="bi bi-currency-dollar icon-2x text-success"
                            style="font-size: larger"
                          ></i></span
                      ></span>
                      <div class="d-flex flex-column ml-3 mt-1">
                        <h4 class="card-subtitle p-0">$3,264</h4>
                        <div class="d-flex flex-row increase">
                          <p class="card-text p-0 text-success font-weight-bold">
                            8%
                          </p>
                          <p class="card-text text-muted">&nbsp;increase</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card col-sm-4 col-12">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row">
                        <h5 class="card-title">Customers</h5>
                        <p class="text-muted"><small>&nbsp;| This Year</small></p>
                      </div>
                      <a class="text-decoration-none" href="#"
                        ><i class="bi bi-three-dots text-secondary"></i
                      ></a>
                    </div>
                    <div class="d-flex flex-row">
                      <span class="circle customers"
                        ><span
                          ><i
                            class="bi bi-people icon-2x"
                            style="color: #e98c6d; font-size: x-large"
                          ></i></span
                      ></span>
                      <div class="d-flex flex-column ml-3 mt-1">
                        <h4 class="card-subtitle p-0">1244</h4>
                        <div class="d-flex flex-row increase">
                          <p class="card-text p-0 text-danger font-weight-bold">
                            12%
                          </p>
                          <p class="card-text text-muted">&nbsp;increase</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
            <div class="col-sm-4 col-12">
                <div class="row">
                    <div class="col-12 col-sm-12 pl-0 mt-4 mt-sm-0">
                        <div
                        class="card shadow border-0"
                        style="padding-left: 15px; padding-right: 15px"
                        >
                            <div class="card-body">
                                <h5 class="card-title mb-3">Các hoạt động mới nhất</h5>
                                <div class="row">
                                <ul class="list-unstyled col-3 mw-100">
                                    <li class="event">
                                    <p class="d-flex flex-row mr-0">32 min</p>
                                    </li>
                                </ul>
                                <ul class="timeline col-9 mw-100 pt-0">
                                    <li class="event event1">
                                    <p>Get here on time.</p>
                                    </li>
                                    <li class="event event2 pt-2">
                                    <p>
                                        Get ready for an exciting event, Busta Rhymes as an
                                        opening show.
                                    </p>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

